<header>
	<div class="container">
		<div class="navbar-brand"><span class="highlight">Curtis</span> Fulton</div>

		<nav>
			<ul>
				<li class="<% if (locals.activePage && activePage == "Home") { %> highlight <% } %>">
					<a href="/" class="">Home</a>
				</li>
				<li class="<% if (locals.activePage && activePage == "Portfolio") { %> highlight <% } %>">
					<a href="/portfolio" class="">Portfolio</a>
				</li>
				<li class="<% if (locals.activePage && activePage == "AboutMe") { %> highlight <% } %>">
					<a href="/aboutme" class="">About Me</a>
				</li>
			</ul>
		</nav>
	</div>

</header>