<header>
	<div class="container">
		<div class=""><span style="color:#b23000">Curtis</span> Fulton</div>

		<nav>
			<ul>
				<li><a href="/" class="">Home</a></li>
				<li><a href="/portfolio" class="">Portfolio</a></li>
				<li><a href="/aboutme" class="">About Me</a></li>
			</ul>
		</nav>
	</div>

</header>