<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ./partials/head.ejs %>
  	<% include ./partials/scripts.ejs %>

  </head>
  <body>

  	<main>
  		<div class="container">

        <ul>
          <% polls.forEach(function(poll) { %>
            <li><a href='polls/<%= poll._id %>'><%= poll._id %></a>:    <%= poll.question %></li>
          <% }); %>
        </ul>
  		</div>
  	</main>
  </body>

</html>