<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ../partials/head.ejs %>
  	<% include ../partials/scripts.ejs %>

  </head>
  <body>
  	<% include ../partials/header.ejs %>

  	<main>

      <div class="container">
          <div id="title">
            <h1>Portfolio</h1>
          </div>

          <ul>
            <li><a href="/portfolio/poll">Poll</a></li>
          </ul>
      </div>

  	</main>


  	<% include ../partials/footer.ejs %>
  </body>
</html>