<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/page-specific/portfolio.css">

  	<% include ../partials/scripts.ejs %>
  </head>
  <body>
  	<% include ../partials/header.ejs %>

  	<main>

      <div class="container">
        <div id="title">
          <h1>Portfolio</h1>
        </div>

        <% portfolios.forEach(function(portfolioInfo) { %>
          <a href="/portfolio<%= portfolioInfo.localURL %>" >
            <div class="portfolio-item">
              <div class="portfolio-name">
                <p><%= portfolioInfo.name %>:</p>
              </div>
              <div class="portfolio-description">
                <p><%= portfolioInfo.description %></p>
              </div>
            </div>
          </a>
        <% }); %>
      </div>

  	</main>

  	<% include ../partials/footer.ejs %>
  </body>
</html>