<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- Custom Stylesheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">

<title><%= title %></title>