/********************************************************************/
/*			Styles that are specific to the portfolio page 		    */
/********************************************************************/

body {
	font-size: 1rem;
	background-color: #f3f3f3;
}

.parallax-image {
	position: relative;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section {
	font-size: 1rem;
}

section.showcase-image {
	background-image: url("../../images/showcase.jpg");
	height: 100%;
}

section#home .container {
	font-size: 1em;
	margin-left: 10%;

	height: 75%;
	width: 30em;

	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(210, 210, 210, 0.3);
}

section#home .content {
	margin-top: 50%;
}

section#home .content h1 {
	margin-bottom: 2em;

	font-weight: bold;
	font-size: 4em;
}

section#home .container p {
	margin: auto;

	font-size: 1.5em;
}

section.container {
	font-size: 1.5em;
	width: 40em;
	min-height: 10em;

	margin: auto;
	padding-top: 5em;
	padding-bottom: 5em;
}

section#about-me .content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section#about-me .content h1 {
	font-size: 2em;
	flex: 2;
	margin-right: 2em;
}

section#about-me .content p {
	flex: 5;
}

section#services {
	background-image: url("../../images/services-background.jpg");

}

section#featured {
	background-color: #A3A3A3;
}

@media (max-width: 45em) {
	.parallax-image {
		position: relative;

		background-attachment: scroll;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	section#home .container {
		margin-left: 0em;

		height: inherit;
		width: 100%;

		padding: 0;

		background-color: rgba(210, 210, 210, 0.3);
	}

	section#home .container div {
		margin-top: 0;
	}


	section.container {
		width: 80%;
	}

	section#about-me .content {
		align-items: center;
		flex-direction: column;
	}

	section#about-me .content h1 {
		margin-bottom: 1em;
	}

}